@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="pagetitle">
    <h1>Admin Dashboard</h1>
</div>

<section class="section dashboard">
    <h2>Welcome to Boutique Admin Panel 🎉</h2>
</section>