@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Admin Dashboard</title>

    <!-- CSS -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/vendor/simple-datatables/style.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="/Admin/Dashboard" class="logo d-flex align-items-center">
                <img src="~/assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">Boutique Admin</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div>

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <!-- Profile -->
                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="~/assets/img/profile-img.jpg" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">Admin</span>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/Admin/AdminAccount/Logout">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>

    </header>

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link" href="/Admin/Dashboard">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="/Admin/Vendor">
                    <i class="bi bi-person"></i>
                    <span>Vendors</span>
                </a>
            </li>
    
            <li class="nav-item">
                <a class="nav-link collapsed" href="/Admin/Customer">
                    <i class="bi bi-people"></i>
                    <span>Customers</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="/Admin/Category">
                    <i class="bi bi-list"></i>
                    <span>Category</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="/Admin/SubCategory">
                    <i class="bi bi-list-nested"></i>
                    <span>Sub Category</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="/Admin/Product">
                    <i class="bi bi-box"></i>
                    <span>Products</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="/Admin/Order">
                    <i class="bi bi-cart"></i>
                    <span>Orders</span>
                </a>
            </li>

           @*  <li class="nav-item">
                <a class="nav-link collapsed" href="/Admin/Location">
                    <i class="bi bi-geo-alt"></i>
                    <span>Location (Country/State/City)</span>
                </a>
            </li> *@

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#location-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-geo-alt"></i>
                    <span>Location</span>
                    <i class="bi bi-chevron-down ms-auto"></i>
                </a>

                <ul id="location-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/Admin/Country">
                            <i class="bi bi-globe"></i><span>Country</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/State">
                            <i class="bi bi-map"></i><span>State</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/City">
                            <i class="bi bi-geo"></i><span>City</span>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>

    </aside>

    <!-- ======= Main Content ======= -->
    <main id="main" class="main">
        @RenderBody()
    </main>

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            © 2026 <strong>Boutique Portal</strong>
        </div>
    </footer>

    <!-- JS -->
    <script src="~/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="~/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/assets/vendor/quill/quill.min.js"></script>
    <script src="~/assets/vendor/simple-datatables/simple-datatables.js"></script>
  
   
    <script src="~/assets/js/main.js"></script>
   @*  <script src="~/js/main.js"></script>  *@ <!-- KEEP THIS LAST -->
    @RenderSection("Scripts", required: false)

</body>
</html>