@{
    Layout = "~/Areas/Shop/Views/Shared/_ShopLayout.cshtml";
    ViewBag.Title = "Blog";
}

<div class="blog">
    <div class="container">
        <h1>Blog</h1>

        <!-- ROW 1 -->
        <div class="row">

            <div class="col-md-6 grid_3">
                <h3><a href="#">Top Fashion Trends</a></h3>
                <img src="~/shop/images/b1.jpg" class="img-responsive" />
                <p>Explore the latest fashion trends shaping boutique styles this season.</p>
                <div class="button"><a href="#">Read More</a></div>
            </div>

            <div class="col-md-6 grid_3">
                <h3><a href="#">Style Guide for Every Occasion</a></h3>
                <img src="~/shop/images/b2.jpg" class="img-responsive" />
                <p>Learn how to style your outfits for casual and formal events.</p>
                <div class="button"><a href="#">Read More</a></div>
            </div>

        </div>

        <!-- ROW 2 -->
        <div class="row">

            <div class="col-md-6 grid_3">
                <h3><a href="#">Support Local Vendors</a></h3>
                <img src="~/shop/images/b3.jpg" class="img-responsive" />
                <p>Discover why supporting local boutique vendors matters.</p>
                <div class="button"><a href="#">Read More</a></div>
            </div>

            <div class="col-md-6 grid_3">
                <h3><a href="#">Build Capsule Wardrobe</a></h3>
                <img src="~/shop/images/b4.jpg" class="img-responsive" />
                <p>Create a stylish wardrobe with fewer but versatile items.</p>
                <div class="button"><a href="#">Read More</a></div>
            </div>

        </div>

        <!-- ROW 3 -->
        <div class="row">

            <div class="col-md-6 grid_3">
                <h3><a href="#">Sustainable Fashion</a></h3>
                <img src="~/shop/images/b5.jpg" class="img-responsive" />
                <p>Learn about eco-friendly fashion and boutique sustainability.</p>
                <div class="button"><a href="#">Read More</a></div>
            </div>

            <div class="col-md-6 grid_3">
                <h3><a href="#">Accessorizing Tips</a></h3>
                <img src="~/shop/images/b6.jpg" class="img-responsive" style="width:625px; height:281px; object-fit:cover;" />
                <p>Enhance your outfit with the perfect accessories.</p>
                <div class="button"><a href="#">Read More</a></div>
            </div>

        </div>

    </div>
</div>